{% trans_default_domain 'FOSUserBundle' %}

<form action="
            {% if app.request.attributes.get('_route') == 'interne_registration' %}
            {{ path('interne_registration') }}
            {% endif %}

            {% if app.request.attributes.get('_route') == 'externe_registration' %}
            {{ path('externe_registration') }}
            {% endif %}
" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
