{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Account</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Label</th>
                <td>{{ entity.accountLabel }}</td>
            </tr>
            <tr>
                <th>Current Money</th>
                <td>{{ entity.currentMoney }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('account') }}">
            Back to the list
        </a>
    </li>
</ul>
    {{ include('BankProjectBundle:Transaction:liste_detail.html.twig', {'entities': transactions, 'account_id': entity.id}) }}
{% endblock %}
