{% extends 'base.html.twig' %}

{% block title %}
    Login - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="center">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}