{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Transaction list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Type</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.transactionLabel }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.source }}</td>
                <td>{{ entity.destination }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('transaction_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}