{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Transfer</h1>



    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.transactionLabel) }}
        {{ form_row(form.source) }}
        {{ form_row(form.destination) }}
        {{ form_row(form.amount) }}

    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('bank_project_homepage') }}">
                Cancel
            </a>
        </li>
    </ul>
{% endblock %}
