{% extends '::base.html.twig' %}

{% block body -%}
To the Reader

Folly and error, avarice and vice, 
Employ our souls and waste our bodies' force. 
As mangey beggars incubate their lice, 
We nourish our innocuous remorse.
Our sins are stubborn, craven our repentance. 
For our weak vows we ask excessive prices. 
Trusting our tears will wash away the sentence, 
We sneak off where the muddy road entices.
Cradled in evil, that Thrice-Great Magician, 
The Devil, rocks our souls, that can't resist; 
And the rich metal of our own volition 
Is vaporised by that sage alchemist.
The Devil pulls the strings by which we're worked: 
By all revolting objects lured, we slink 
Hellwards; each day down one more step we're jerked 
Feeling no horror, through the shades that stink.
Just as a lustful pauper bites and kisses 
The scarred and shrivelled breast of an old whore, 
We steal, along the roadside, furtive blisses, 
Squeezing them, like stale oranges, for more.
Packed tight, like hives of maggots, thickly seething
Within our brains a host of demons surges. 
Deep down into our lungs at every breathing, 
Death flows, an unseen river, moaning dirges.
If rape or arson, poison, or the knife 
Has wove no pleasing patterns in the stuff 
Of this drab canvas we accept as life — 
It is because we are not bold enough!
Amongst the jackals, leopards, mongrels, apes, 
Snakes, scorpions, vultures, that with hellish din, 
Squeal, roar, writhe, gambol, crawl, with monstrous shapes, 
In each man's foul menagerie of sin — 
There's one more damned than all. He never gambols,
Nor crawls, nor roars, but, from the rest withdrawn,
Gladly of this whole earth would make a shambles
And swallow up existence with a yawn...
Boredom! He smokes his hookah, while he dreams 
Of gibbets, weeping tears he cannot smother. 
You know this dainty monster, too, it seems — 
Hypocrite reader! — You! — My twin! — My brother!
— Roy Campbell, Poems of Baudelaire (New York: Pantheon Books, 1952)
{% endblock %}
